<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1> CONGRATS, YOUR'RE A TWITTER HEAD! TWEET, TWEET! </h1>
    <h3> Based on your quiz results, you're a twitter head! This means you enjoy news, gossip, and self care. Don't think this a bad thing, it's a good thing. Here's some quick fitness, diets rountines to keep you off the screen.</h3>
     
   
  <p><h1 align="center">HOW TO GET A BIKINI BODY👙</h1><h3>1. Get a bikini/swimsuit</p>
    <p>2.put it on</p>
    <p>3.Go to the beach/pool</p>
    <p>4.Go strut your stuff and love yourself for who you are !</p>
    I can guarantee you will look amazing and you should be confident in yourself.
    There is no 'perfect' body, everyone is beautiful in their own way</h3>
    
  <p><h1 align="center">HEALTHY WEIGHT GAINING TIPS 💪 </h1>
   <h3><p>1. Consume more calories through nutrient rich foods (rich in protein,carbs, or fats)</p>
  <p>2. Drink your calories! Try protein shakes or other high calorie beverages.
   Examples: PB, Milk(any), Protein Powder, Banana, & Oats.</p>
  <p>3. Exercise with weights</p>
  <p>4. Eat frequently / when hungry</p>
 <p> 5. Foods good for weight gain: Rice, Wheat Bread, Peanut Butter, Oats, Nuts, Eggs, Corn, Potato, and Bagels.</p>
  <p>REMEMBER that you'll most gain some fat when gaining weight, and that is normal. Do it for you, boo! And remember you're beautiful without changing your weight.</p>
     
      <div id="page-head">
      <div id="page-header">
    </div>
      <header>
        <div> 
          <ul>
        <li>><link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet"
    container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}     ><a href="#">Home</a></li>
 <li>><a href="#">information</a></li>
     <li>><a href="#">quizies</a></li>
   <li>><a href="#">self care</a></li>
     <li>><a href="#">other</a></li>
          
          </ul>
     </div>
    </header>
  </body>
  </html>

<html>
  <head>
    <link rel= "stylesheet" type = "text/css" href = "style.css">
 <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  </head>
  <body>
  </body>
</html>







<div id="page-head">
      <div id="page-header">
    </div>
      <header>
        <div> 
          <ul>
        <li>><link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet"
    container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}     ><a href="#">Home</a></li>
 <li>><a href="#">information</a></li>
     <li>><a href="#">quizies</a></li>
   <li>><a href="#">self care</a></li>
     <li>><a href="#">other</a></li>
          
          </ul>
     </div>
    </header>
  </body>
  </html>














